html, body {
	font-family: 'Roboto', sans-serif;
	font-size:14px;
	height:100%;
	margin: 0px;
	padding: 0px;
}

/* Toolbar area */

.menu {
	background-color: transparent;
	border: none;
	height: 38px;
	margin: 16px;
	width: 36px;
}

 .hint {
    position: absolute;
    left: 2px;
    right: auto;
    bottom: 7px;
    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    color: grey; 
}
