<md-toolbar class="md-hue-2">
	<div class="md-toolbar-tools">
		<h2>
			<span>Falsa Posição e Bissecção</span>
		</h2>
		<span flex-gt-md="20"></span>
	  	<md-button ui-sref="inicio.falsa_posicao" class="md-primary" aria-label="Learn More">
			Falsa posição
        </md-button>
        <md-button ui-sref="inicio.bisseccao" class="md-primary" aria-label="Learn More">
			Bissecção
        </md-button>
		<span flex-gt-md="30"></span>
        <md-button ng-click="vm.sobre($event)" class="md-primary" aria-label="Learn More">
			Sobre
        </md-button>
	</div>
</md-toolbar>
<div ui-view></div>