<md-dialog ng-cloak>
  	<form>
	    <md-dialog-content>
	      	<div class="md-dialog-content">
		        <h2>Sobre</h2>
		        <p>
		        	Solicitado pelo professor 
		        	<br>
		        	<b>Kristian Madeira</b>
		        	<br>
					construído pelos alunos:
					<br>
					<b>Laíne Dimer</b>
					<br>
					<b>Rafael Silva</b>
					<br>
					<b>Rafael Zomer</b>
		        </p>	
		        <p>
		        	<small>
		        		Todos os processos e iterações desse sistema estão arredondadas com 5 casas decimais após a virgula, tanto na hora da visualização, quanto na hora do cálculo.
		        	</small>
		        </p>
	    	</div>
	    </md-dialog-content>	
	</form>
</md-dialog>
