<md-card flex="120">
	<md-card-content>
		<h1>Falsa Posição</h1>
		<div layout="row" class="space-between center">
			<div flex-gt-md="30">
				<md-input-container class="md-block">
					<label>Expressão</label>
					<input ng-model="vm.expressao">
					<div class="hint">Exemplo: f(x) = x^3+2*x-1</div>
				</md-input-container>
			</div>
			<div flex="5" hide-xs hide-sm></div>
			<div flex-gt-md="20">
				<md-input-container class="md-block" >
					<label>Valor de (a)</label>
					<input ng-model="vm.valorIncial">
					<div class="hint">Exemplo: 0</div>
				</md-input-container>
			</div>
			<div flex="5" hide-xs hide-sm></div>
			<div flex-gt-md="20">
				<md-input-container class="md-block">
					<label>Valor de (b)</label>
					<input ng-model="vm.valorFinal">
					<div class="hint">Exemplo: 1</div>
				</md-input-container>
			</div>
			<div flex="5" hide-xs hide-sm></div>
			<div flex-gt-md="20">
				<md-input-container class="md-block">
					<label>Epsilon</label>
					<input ng-model="vm.epsilon">
					<div class="hint">Exemplo: cp < 10^(-3)</div>
				</md-input-container>
			</div>
			<div flex="5" hide-xs hide-sm></div>
			<div flex-gt-md="20" layout-padding="true" >
				    <md-radio-group ng-model="vm.tipo">
						<md-radio-button value="0">Arredondamento</md-radio-button>
						<md-radio-button value="1"> Truncamento </md-radio-button>
					</md-radio-group>
			</div>
			<div flex-gt-md="10" layout-padding="true" layout-align="center center" >
				<md-button ng-click="vm.calcular($event)" flex class="md-raised md-accent" aria-label="Learn More">
					Calcular
				</md-button>
			</div>
		</div>
		<h4>Tabela</h4>
		<hr>
		<h2 ng-show="vm.itens[vm.itens.length-1].xk">Raiz final: {{vm.itens[vm.itens.length-1].xk}}</h2>
		<md-table-container>
			<table ng-init="selected = [1]" md-table ng-model="selected">
				<thead md-head>
					<tr md-row>
						<th md-column md-numeric>K</th>
						<th md-column md-numeric>a</th>
						<th md-column md-numeric>b</th>
						<th md-column md-numeric>xk</th>
						<th md-column md-numeric>f(a)</th>
						<th md-column md-numeric>f(b)</th>
						<th md-column md-numeric>f(xk)</th>
						<th md-column md-numeric>CP</th>
					</tr>
				</thead>
				<tbody md-body>
					<tr md-row md-select="item" md-select-id="name" md-auto-select ng-repeat="item in vm.itens">
						<td md-cell>{{item.k}}</td>
						<td md-cell>{{item.a}}</td>
						<td md-cell>{{item.b}}</td>
						<td md-cell>{{item.xk}}</td>
						<td md-cell>{{item.fa}}</td>
						<td md-cell>{{item.fb}}</td>
						<td md-cell>{{item.fxk}}</td>
						<td md-cell>{{item.cp}}</td>
					</tr>
				</tbody>
			</table>
		</md-table-container>
	</md-card-content>
</md-card>